{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <title>Екологічні наслідки пожежі проливу нафтопродуктів</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <link href="{% static "css/forms.css" %}" rel="stylesheet">
    <link href="{% static "css/form_number_control.css" %}" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="py-2 text">
        <h5>Уявляючи сценарій надзвичайної ситуації, оцініть вагомість факторів від 1 (найменш вагоми) до 10 (найбільш
            вагомий) для відповідних наслідків, допустимі однакові значення</h5>
        <hr class="mb-4">
        <p><b>Група факторів:</b> Екологічні наслідки</p>
        <p><b>Сценарій надзвичайної ситуації:</b> Пожежа проливу нафтопродуктів <a
                href="https://docs.google.com/document/d/1lAtooMI97KvKVqGyZP0IVwpdsu1lfwew/edit?usp=sharing&ouid=103711757023069945542&rtpof=true&sd=true"
                target=”_blank”>(посилання на опис)</a></p>
        <hr class="mb-4">
    </div>
    <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <table class="table table-striped">
            <thead class="thead">
            <tr>
                <th scope="col" width="15%">Фактор</th>
                <th scope="col" width="74%">Опис фактору</th>
                <th scope="col">Ранг</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Фактор Ек1</th>
                <td>Тип використовуваного палива, стандарт</td>
                <td>{{ form.E1 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек2</th>
                <td>Погодні умови (температура, швидкість вітру, ступінь вертикальної стійкості повітря (інверсія,
                    конвекція, ізотермія))
                </td>
                <td>{{ form.E2 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек3</th>
                <td>Пора року</td>
                <td>{{ form.E3 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек4</th>
                <td>Наявність поблизу АЗС відкритих водойм, що мають господарське значення</td>
                <td>{{ form.E4 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек5</th>
                <td>Тип та структура ґрунтів</td>
                <td>{{ form.E5 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек6</th>
                <td>Глибина залягання ґрунтових вод, наявність поблизу колодязів, свердловин</td>
                <td>{{ form.E6 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек7</th>
                <td>Наявність поблизу АЗС ділянок природно-заповідного фонду</td>
                <td>{{ form.E7 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек8</th>
                <td>Наявність поблизу АЗС значних лісових масивів</td>
                <td>{{ form.E8 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек9</th>
                <td>Наявність поблизу АЗС земель сільськогосподарського значення (орних земель, пасовищ тощо)</td>
                <td>{{ form.E9 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек10</th>
                <td>Характер рельєфу біля АЗС</td>
                <td>{{ form.E10 }}</td>
            </tr>
            <tr>
                <th scope="row">Фактор Ек11</th>
                <td>Наявність поблизу АЗС рекреаційних зон (як великих, там і малих)</td>
                <td>{{ form.E11 }}</td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12 mb-3">
            <label class="form-control-label" for="adding_factors">Чи необхідно, на вашу думку, додати якісь
                фактори?</label>
            {{ form.adding_factors }}
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-control-label" for="additional_comment">Ваш додатковий коментар.</label>
            {{ form.additional_comment }}
        </div>
        <hr class="mb-4">
        <div class="text-center col-md-12">
            <a id="back" class="btn btn-outline-secondary btn-block" href="{% url "ranking" %}">Повернутися назад</a>
            <button id='delete_row' class="btn btn-outline-success btn-block" type="submit">Надіслати</button>
        </div>
    </form>
</div>
<script src="{% static "js/input-cheking.js" %}"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


</body>
</html>
