{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <title>Social consequences ranking</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <link href="{% static "css/forms.css" %}" rel="stylesheet">
    <link href="{% static "css/form_number_control.css" %}" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body class="bg-light">

<div class="container mt-3">
    <div class="py-2 text">
        <h5>Imagining an emergency scenario, rate the importance of the factors from 1 (least important) to 10 (most important) for the corresponding consequences, the same values are allowed</h5></h5>
        <hr class="mb-4">
        <p><b>Group of factors:</b> Social consequences - damage to society caused by an emergency situation</p>
        <p>A brief description of the scenarios is available and can be displayed by hovering over the corresponding icon <i class="icon-info-sign"></i> next to each of the scenarios accordingly.</p>
        <p>More information about the scenarios can be viewed at the following links:
            <ul>
                <li><b>Emergency scenario 1:</b> Explosion of a vapour-air mixture of oil products vapours with the formation of a shock wave <a
                href="https://drive.google.com/file/d/1s9nolqv55sDsNTBBX2sNm44_gAXYYZRC/view?usp=drive_link"
                target=”_blank”>(link to description)</a></li>
                <li><b>Emergency scenario 2:</b> Fire of oil products spill <a
                href="https://drive.google.com/file/d/1vebOjJv4QKusAvmeE1Nib4ZL7n2LVtuD/view?usp=drive_link"
                target=”_blank”>(link to description)</a></li>
                <li><b>Emergency scenario 3:</b> «Fireball» <a
                href="https://drive.google.com/file/d/1pxiMt_w2huv9wITntl1WrXls6D8P5sO9/view?usp=drive_link"
                target=”_blank”>(link to description)</a></li>
            </ul>
        </p>
        <p>Imagining the scenarios of an emergency situation, how do you think the presented factors affect the consequences:</p>
        <hr class="mb-4">
    </div>
    <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        <table class="table table-striped">
            <thead class="thead">
            <tr>
                <th scope="col" width="61%">Description of the factor</th>
                <th scope="col">Scenario 1
                    <i class="icon-info-sign" data-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover"
                       data-bs-content='<div class="media"><div class="media-body"><h5 class="media-heading">Explosion with the formation of a shock wave</h5><p>The main damaging factors are:</p><ul><li>shock wave;</li><li>debris of destroyed equipment, collapsed buildings and structures.</li></ul><img src="{% static 'images/wave_blast.png' %}" class="img-fluid" alt="blast-wave"></div></div>'></i>
                </th>
                <th scope="col">Scenario 2
                    <i class="icon-info-sign" data-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover"
                       data-bs-content='<div class="media"><div class="media-body"><h5 class="media-heading">Fire of oil products spill</h5><p>The main damaging factors are:</p><ul><li>heat emission and hot combustion products;</li><li>open flames and burning oil products;</li><li>toxic combustion products.</li></ul><img src="{% static 'images/fire.png' %}" class="img-fluid" alt="fire"></div></div>'></i>
                </th>
                <th scope="col">Scenario 3
                    <i class="icon-info-sign" data-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover"
                       data-bs-content='<div class="media"><div class="media-body"><h5 class="media-heading">«Fireball»</h5><p>The main damaging factors are:</p><ul><li>heat emission and hot combustion products;</li><li>open flames and burning oil products.</li></ul><img src="{% static 'images/fire_ball.png' %}" class="img-fluid" alt="fire-ball"></div></div>'></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Population density in the area near the petrol station </td>
                <td>{{ form_blast_wave.S_blast_wave1 }}</td>
                <td>{{ form_fire.S_fire1 }}</td>
                <td>{{ form_fire_ball.S_fire_ball1 }}</td>
            </tr>
            <tr>
                <td>The nature of the area in which the petrol station is located: residential, industrial, agricultural, recreational, etc.
                </td>
                <td>{{ form_blast_wave.S_blast_wave2 }}</td>
                <td>{{ form_fire.S_fire2 }}</td>
                <td>{{ form_fire_ball.S_fire_ball2 }}</td>
            </tr>
            <tr>
                <td>The presence of socially important infrastructure near the petrol station: stadiums, schools, hospitals, etc.</td>
                <td>{{ form_blast_wave.S_blast_wave3 }}</td>
                <td>{{ form_fire.S_fire3 }}</td>
                <td>{{ form_fire_ball.S_fire_ball3 }}</td>
            </tr>
            <tr>
                <td>Average income level of residents of the area where the petrol station is located </td>
                <td>{{ form_blast_wave.S_blast_wave4 }}</td>
                <td>{{ form_fire.S_fire4 }}</td>
                <td>{{ form_fire_ball.S_fire_ball4 }}</td>
            </tr>
            <tr>
                <td>The growth potential of the area where the petrol station is located</td>
                <td>{{ form_blast_wave.S_blast_wave5 }}</td>
                <td>{{ form_fire.S_fire5 }}</td>
                <td>{{ form_fire_ball.S_fire_ball5 }}</td>
            </tr>
            <tr>
                <td>Presence of cultural monuments near the petrol station </td>
                <td>{{ form_blast_wave.S_blast_wave6 }}</td>
                <td>{{ form_fire.S_fire6 }}</td>
                <td>{{ form_fire_ball.S_fire_ball6 }}</td>
            </tr>
            <tr>
                <td>Location in or proximity to a war zone</td>
                <td>{{ form_blast_wave.S_blast_wave7 }}</td>
                <td>{{ form_fire.S_fire7 }}</td>
                <td>{{ form_fire_ball.S_fire_ball7 }}</td>
            </tr>
            <tr>
                <td>Qualification of personnel</td>
                <td>{{ form_blast_wave.S_blast_wave8 }}</td>
                <td>{{ form_fire.S_fire8 }}</td>
                <td>{{ form_fire_ball.S_fire_ball8 }}</td>
            </tr>
            <tr>
                <td>Petrol stations as a crime factor - the presence of "shadow" petrol stations that may not comply with all safety standards
                </td>
                <td>{{ form_blast_wave.S_blast_wave9 }}</td>
                <td>{{ form_fire.S_fire9 }}</td>
                <td>{{ form_fire_ball.S_fire_ball9}}</td>
            </tr>
            <tr>
                <td>Consequences for the labour market</td>
                <td>{{ form_blast_wave.S_blast_wave10 }}</td>
                <td>{{ form_fire.S_fire10 }}</td>
                <td>{{ form_fire_ball.S_fire_ball10 }}</td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12 mb-3">
            <label class="form-control-label" for="adding_factors">Do you think it is necessary to add any
                factors?</label>
            {{ form_blast_wave.adding_factors }}
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-control-label" for="additional_comment">Your additional comment.</label>
            {{ form_blast_wave.additional_comment }}
        </div>
        <hr class="mb-4">
        <div class="text-center col-md-12">
            <a id="back" class="btn btn-outline-secondary btn-block" href="{% url "ranking" %}">Go back</a>
            <button id='delete_row' class="btn btn-outline-success btn-block" type="submit">Send</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            placement : 'bottom',
            trigger : 'hover',
            html : true
        });
    });
</script>
<script src="{% static "js/input-cheking.js" %}"></script>
<script>
    document.addEventListener("wheel", function(event){
    if(document.activeElement.type === "number"){
        document.activeElement.blur();
    }
});
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
