{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Реєстрація</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{% static "css/forms.css" %}" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="text">
        <h5>Опитування задля картографування ризиків автозаправних станцій (АЗС) Одеського регіону</h5>
        <hr class="mb-4">
        <p>Опитування проводиться в рамках виконання Спільний україно-британський науковий проект в межах партнерства
            Національного університету «Одеська політехніка» із Університетом м. Портсмут (Велика Британія)
            <a href="https://drive.google.com/file/d/1FlcjLhYNEjP4Lsn1sSk7wCxSlI2AKF_6/view?usp=sharing" target=”_blank”>(детальніше)</a></p>
        <p>Мета опитування: Ранжування економічних, соціальних та екологічних факторів уразливості АЗС в залежності від
            можливого виду сценарію надзвичайної ситуації.</p>
        <p>Реалізація проекту є вкрай важливим для безпеки мешканців нашого улюбленого міста та області</p>
        <hr class="mb-4">
    </div>
    <div class="card">
        <form class="needs-validation" method="post" onsubmit="return handleData()" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="Name">Ім'я та фамілія</label>
                        {{ form.name }}
                        <div class="invalid-feedback">Введіть коректне ім'я</div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="email">Email для зворотнього зв'язку</label>
                        {{ form.email }}
                        <div class="invalid-feedback">Введіть коректний емейл</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col-md-12 mb-3">
                        <div class="form-control-label">Стать</div>
                        <div class="d-block">
                            {% for sex in form.sex %}
                                <div class="custom-control custom-radio">
                                    {{ sex }}
                                    {% if forloop.last %}
                                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="age">Вік</label>
                        {{ form.age }}
                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="income">Дохід</label>
                        {{ form.income }}
                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-control-label">Сімейний стан</div>
                        <div class="d-block">
                            {% for marital_status in form.marital_status %}
                                <div class="custom-control custom-radio">
                                    {{ marital_status }}
                                    {% if forloop.last %}
                                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-control-label">Наявність дітей</div>
                        <div class="d-block">
                            {% for children_status in form.children_status %}
                                <div class="custom-control custom-radio">
                                    {{ children_status }}
                                    {% if forloop.last %}
                                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="education">Освіта</label>
                        {{ form.education }}
                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="degree">Науковий ступінь</label>
                        {{ form.degree }}
                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="driving_experience">Досвіт користуванням
                            автомобілю</label>
                        {{ form.driving_experience }}
                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div onchange="return handleData()">
                            <div class="form-control-label">Спрямування освіти</div>
                            <div class="custom-control custom-checkbox">
                                {{ form.economical_education_direction }} {{ form.economical_education_direction.label }}
                            </div>
                            <div class="custom-control custom-checkbox">
                                {{ form.technical_education_direction }} {{ form.technical_education_direction.label }}
                            </div>
                            <div class="custom-control custom-checkbox">
                                {{ form.environmental_education_direction }} {{ form.environmental_education_direction.label }}
                            </div>
                            <div class="custom-control custom-checkbox">
                                {{ form.humanitarian_education_direction }} {{ form.humanitarian_education_direction.label }}
                            </div>
                            <div style="visibility:hidden;" id="chk_option_error">Оберіть одну з відповідей</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="working_organization">Організація, в якій
                            працюєте</label>
                        {{ form.working_organization }}
                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="district">Район розташування</label>
                        {{ form.district }}
                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-control-label">Чи розташовано поблизу АЗС?</div>
                        <div class="d-block">
                            {% for petrol_station_nearby in form.petrol_station_nearby %}
                                <div class="custom-control custom-radio">
                                    {{ petrol_station_nearby }}
                                    {% if forloop.last %}
                                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-control-label" for="dwelling">Житло</label>
                        {{ form.dwelling }}
                        <div class="invalid-feedback">Оберіть одну з відповідей</div>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="text-center col-md-12">
                <button class="btn-primary btn-lg btn-block" type="submit">Перейти до опитування</button>
            </div>
        </form>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.min.js"></script>
<script src="{% static "js/input-cheking.js" %}"></script>
<script>
    function handleData() {
        var form_data = new FormData(document.querySelector("form"));

        if (form_data.has("humanitarian_education_direction") ||
            form_data.has("technical_education_direction") ||
            form_data.has("environmental_education_direction") ||
            form_data.has("economical_education_direction")) {
            document.getElementById("chk_option_error").style.visibility = "hidden";
            return true;
        } else {
            document.getElementById("chk_option_error").style.visibility = "visible";
            return false;
        }
    }
</script>
</body>
</html>
