<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" style="margin-top: 10px; border-radius: 5px; border: 1px solid grey; padding: 10px;">
        <form method="post">
            {% csrf_token %}
            <legend class="border-bottom mb-4">User registration</legend>
            {{ form.as_table }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</body>
</html>